
:root{
--color: #333; 
margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/images/home.png');
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-top: -4rem;
}

p {
  font-family: 'Poppins', sans-serif;
  max-width: 70ch;
  line-height: 1.5;
  padding: 0.5em 0 1em 0;
}

.learnMore {
  display: inline-block;
  padding: 1em 2em;
  background-color: #863812;
  color: white;
  text-decoration: none;
  border-radius: 0.3em;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 1rem;
  cursor: pointer;
}

.blank-1,
.other {
  width: 100%;
  color: #EBE4D2;
  display: flex;
  flex-direction: row;
  min-height: 60vh;
  background-color: #5B3203;
}

.second {
  background-image:url('../../../public/images/home-2.png');
  background-attachment: fixed;
  height: 800px;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card {
  padding-top: 1.3rem;
}

.cardsList{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 40rem;
  background-color: white;;
  flex-direction: row;
  align-items: center;
  border-radius: .5em;
  padding: 0 1.5rem;
  margin-bottom: 1.3rem;
  box-shadow: 1px -2px 48px -17px rgba(144,72,24,0.65);
  -webkit-box-shadow: 1px -2px 48px -17px rgba(144,72,24,0.65);
  -moz-box-shadow: 1px -2px 48px -17px rgba(144,72,24,0.65);
}

.blank-1 .left-line{
  width: 60%;
  margin: 5rem 0 0 7rem;
}

.blank-1 .right-button{
  width: 40%;
}

.get-started {
  font-family: 'Poppins', sans-serif;
  padding: 0.6em 2em;
  background-color: #EBE4D2;
  color: #863812;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
  margin: 9em 0 0 3em;
}

.get-started:hover, .get-started:focus {
  background-color: #d1cbbd;
  color: #863812;
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.blank-2 {
  width: 100%;
  color: #EBE4D2;
  min-height: 5vh;
  background-color: #5B3203;
}

.footer {
  padding: 1rem 0 0;
}

.copyright {
  margin: auto;
  text-align: center;
}

.show, .showCR {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: all 1s;
}

.hide, .hideCR {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%);
  transition: all 1s;
}

.showCards {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: all 0.8s;
}

.hideCards {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all 0.5s;
}

.item:nth-child(2) {
  transition-delay: 200ms;
}
.item:nth-child(3) {
  transition-delay: 500ms;
}

.showCR {
  transform: translateX(0%);
  transition: all 0.8s;
}

.hideCR {
  transform: translateX(0%);
  transition: all 0.8s;
}