.dashboard {
    margin: 2rem 10rem;
}

.blogUserOptions {
    background-color: #5B3203 !important;
    border-bottom: 1px solid #5B3203;
}

.blogCards {
    background-color: #FAF5E8;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

.moreOrLess {
    background-color: transparent;
    border: none;
    font-size: medium;
    color: #5B3203;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}